body {
    background-color: #F5EDDC;
    font-family: 'Courier New', monospace;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameBox {
    display: flex;
    flex-direction: row;
    width: 750px;
    justify-content: space-between;

}

.playerBox, .computerBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    margin: 1em;
    border-radius: 1em;

}

.computerBox {
    display: flex;
    align-items: flex-end;
}


.rock, .paper, .scissors {
    height: 150px;
    width: 150px;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    border-radius: 1em;
    padding: 1em;
}

.player {
    display: flex;
    align-self: flex-start;
    max-width: max-content;
}

#score {
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    max-width: max-content;
}

.computer {
    display: flex;
    align-self: flex-end;
    max-width: min-content;
}

.player, .computer, .footer {
    font-weight: bolder;
    font-size: larger;
}

#reset {
    font-size: larger;
    font-weight: bolder;
    background-color: #CFD2CF;
    height: 100px;
    width: 150px;
    margin: 2em;
    border-radius: 1em;
}

.footer {
    display: flex;
    justify-content: center;
    /* Creates footer to stay the width of page */
    position: fixed;
    left: 0;
    right: 0;
    height: 100px;
    width: 100%;
    padding: 20px;
    background-color: #CFD2CF; 
}